@import './variables';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $default-font;

	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	background-color: $hard-dark-accent;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
	background-color: $black;
	height: 100%;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}