@use "sass:color";
@import './variables';

*,
::after,
::before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $default-font;
	letter-spacing: 0.5px;

	&:focus {
		outline: none;
	}
}

*::-webkit-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*::-moz-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #c0c0c0;
	opacity: 1;
}

html,
body {
	height: 100%;
}

body {
	background-color: $hard-dark-accent;
	padding: 0;
	margin: 0;
	color: #fff;
	font-size: 20px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

#root {
	background-color: $black;
	height: 100%;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: 560px;
	width: 100%;
	margin: 0 auto;
}

.dark-link {
	text-align: right;
	width: 100%;
	display: block;
	margin: 1rem 0 2rem 0;
	text-decoration: none;
	color: $dark-accent;
	transition: color 0.3s ease;

	&:hover {
		color: color.adjust($accent, $lightness: -10%);
	}
}

/* ------------------------------ React Select ------------------------------ */
.select2-selection {
	&__control {
		cursor: pointer !important;
		// margin-bottom: 2rem;
		border-radius: 10px !important;
		min-height: 48px !important;
		background-color: $dark-accent !important;
		border: 1px solid transparent !important;
		color: $white;
		font-size: 18px;
		width: 100%;

		&--is-focused {
			border-color: transparent !important;
			box-shadow: 0 0 0 1px rgba($accent, 0.3) !important;
		}
	}

	&__menu {
		background-color: $dark-accent !important;
		border-radius: 10px !important;

		&-list {
			padding: 0 !important;
			border-radius: 10px !important;
		}

		&-notice {
			color: #946e86 !important;
		}
	}

	&__option {
		&--is-focused {
			background-color: color.adjust($dark-accent, $lightness: -7%) !important;
		}

		&--is-selected {
			background-color: color.adjust($dark-accent, $lightness: -8%) !important;
		}
	}

	&__indicator,
	&__indicator:hover {
		color: $white !important;
	}

	&__placeholder {
		color: #946e86 !important;
		margin-left: 6px !important;
		text-align: left;
	}

	&__single-value {
		color: $white !important;
	}

	&__multi-value {
		border-radius: 6px !important;
		background-color: color.adjust($dark-accent, $lightness: 10%) !important;

		&__label {
			color: $white !important;
		}

		&__remove:hover {
			background-color: #8b2557 !important;
			color: $white !important;
		}
	}

	&__input {
		color: $white !important;
	}
}

/* ---------------------------- END React Select ---------------------------- */
// .img-responsive {
// 	display: block;
// 	max-width: 100%;
// 	height: auto;
// }
// .error {
// 	color: #8d2b3d;
// 	font-size: 1rem;
// }